/* vars */
:root {
	--light-background: white;
	--dark-background: #222;
	--light-font: darkgrey;
	--dark-font: lightgrey;
	--dark-link: rgb(137, 188, 250);
	--dark-link-visited: rgb(187, 125, 245);
	--light-link: rgb(3, 116, 255);
	--light-link-visited: rgb(153, 54, 245);
	--menu-border-color-dark: grey;
	--menu-border-color-light: darkgrey;
	
	--background: var(--dark-background);
	--font-color: var(--dark-font);
	--menu-border-color: var(--menu-border-color-dark);
	
	/* animations */
	--flicker-timing: 300ms;
}

/* keyframes */

@keyframes content-out {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 90%;
		transform: translateY(2px);
	}
	50% {
		opacity: 60%;
		transform: translateY(8px);
	}
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}
@keyframes content-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	50% {
		opacity: 60%;
		transform: translateY(8px);
	}
	75% {
		opacity: 90%;
		transform: translateY(2px);
	}
	100% {
		opacity: 1;
	}
}
/* fast flicker animation for menu items, disable if no-motion-preferred */
/* use animation-timing-function: steps(5, end) */
@keyframes flicker-in {
	0% {
		opacity: 0;
	}
	14% {
		opacity: 1;
	}
	28% {
		opacity: 0;
	}	
	42% {
		opacity: 1;
	}
	56% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	84% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	display: flex;
	flex-wrap: wrap;
	background: var(--background);
	color: var(--font-color);
	font-family: Ubuntu, sans-serif;
	overflow-x: hidden;
}
@media screen and (min-width: 768px) {
	body {
		width: 100vw;
	}
}
a {
	color: var(--dark-link);
	text-decoration: none;
}
a:visited {
	color: var(--dark-link-visited);
}
header {
	flex: 1 0 100%;
}
header img {
	filter: invert(1);
}
svg.title {
	font-family: Orbit, monospace;
	font-size: 3rem;
	height: 200px;
	width: 100%;
	margin: 0;
}
h1 {
	flex: 1 0 100%;
	margin: 50px 0;
	text-align: center;
	font-family: Orbit, monospace;
}

main {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.no-mobile {
	display: none;
}
.content-container {
	display: flex;
	overflow: hidden;
	max-width: 1100px;
	font-size: 17px;
}
.content-container .content {
	padding: 10px;
}
.fade-slide-in {
	animation: 500ms ease-in-out content-in;
	animation-fill-mode: forwards;
}
.fade-slide-out {
	animation: 300ms ease-out content-out;
	animation-fill-mode: forwards;
}
.desktop-menu {
	flex: 0 1 500px;
	min-width: 200px;
	max-width: 550px;
}
.menu a {
	text-decoration: none;
	margin-top: 30px;
	display: block;
}
.menu a:first-of-type {
	margin-top: 60px;
}
.menu-item {
	cursor: pointer;
	margin-left: 25px;
	color: var(--font-color);
}
.mobile-menu {
	background: var(--background);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	height: 100vh;
	width: 50%;
}
.mobile-menu.active {
	transform: translateX(0);
}
/*
.flicker-in {
	animation: var(--flicker-timing) steps(5, end) flicker-in;
}
@media (prefers-reduced-motion) {
	.flicker-in {
		animation: none;
	}
}
.zoom-blur-transition {
	transition: transform var(--zoom-blur-timing) ease-out, filter var(--zoom-blur-timing) ease-out, opacity var(--zoom-blur-timing) ease-out;
}
.zoom-blur-start {
	opacity: 0;
	filter: blur(5px);
	transform: scale(0.95);
}
*/

/* contact form - small enough that i'll just leave it on the main.css file */
.post-submit-message {
	position: absolute;
	top: 150px;
}
.post-submit-message:not(.fade-slide-in) {
	opacity: 0;
}
.is-recruiter, #is-recruiter {
	display: none;
}
form {
	display: flex;
	flex-direction: column;
	width: 90vw;
}
form input {
	padding: 20px;
}
form input, form textarea {
	margin-bottom: 20px;
	border-radius: 5px;
	font-family: Ubuntu, sans-serif;
}
form input:disabled, form textarea:disabled, form button:disabled {
	background-color: #aaa;
	color: #111;
}
form textarea {
	padding: 8px 20px;
	height: 200px;
}
form button {
	width: 50%;
	margin: auto;
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
}
.landing-link-layout {
	display: flex;
	margin-top: 15px;
}
.landing-link-layout a {
	display: block;
}
.landing-link-layout a:first-of-type {
	margin: 0 10px 0 auto;
}
.landing-link-layout a:first-of-type img {
	filter: invert(1);
}
.landing-link-layout a:last-of-type {
	margin: 0 auto 0 10px;
}

@media screen and (min-width: 768px) {
	.menu a:first-of-type {
		margin-top: 0;
	}
	form {
		width: 20vw;
	}
	svg.title {
		width: auto;
		height: 300px;
	}
	div .summary {
		font-size: 17px;
	}
	div .summary:first-of-type {
		margin-top: 10%;
	}
	header {
		display: flex;
		justify-content: center;
	}
	header a {
		text-decoration: none;
		margin: 20px 20px;
	}
	main pre.active {
		height: 0;
	}
	.no-mobile {
		display: block;
	}
	.no-desktop {
		display: none;
	}
	.content-container, .desktop-menu {
		margin-top: 0;
	}
	.menu-item {
		margin-left: 0;
	}
	.menu-item:first-of-type {
		margin-top: 0;
	}
	.menu-item:last-of-type {
		margin-bottom: 0;
	}
	.content-container {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.desktop-menu {
		border: 2px solid var(--menu-border-color);
		padding: 2rem 0 2rem 2rem;
		height: fit-content;
	}
}

