@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-phone:         400px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-desktop:       1920px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

// Custom classes

/* -- Layout -- */
.landing-title-layout {
  margin: auto 0;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
}
@include media-query($on-phone) {
  .mobile-column {
    flex-direction: column;
  }
}

.above-fold {
  display: flex;
  flex-direction: column;
}

/* -- Style -- */
// vars
$light_bg:        #f4f4f4;
$light_text:      #333333;
$linkcolor:       #557aff;
$linkcolor_hover: #558aad;

.light_bg {
  background-color: $light_bg;
}
.light_text {
  color: $light_text;
}
.landing-title-style {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 5px;
  margin-top: 10px;
  float: left;
  color: $grey-color-dark;
  line-height: 27px;

}

/* -- Animation -- */
// vars
$imagestartdelay: 0.75s;
$imageduration:   0.75s;
$slidetime:   1.0s;
$linkduration: 0.25s;
$linkdurspace: 0.12s;
$linkdelay: 0.20s;

// keyframes
@keyframes slideleft {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideright {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes heroimageanim {
  from {
    opacity: 0;
    transform: translate(0, 10%);
  }
  to {
    opacity: 100%;
    transform: translate(0, 0);
  }
}


// landing page
.headshot-image {
  flex: 1 0 100%;
  display: block;
  max-width: 182px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
  opacity: 0;
  animation-name: heroimageanim;
  animation-duration: $imageduration;
  animation-delay: $imagestartdelay;
  animation-fill-mode: forwards;
}
.landing-link-layout {
  margin-top: 20px;
  margin-bottom: 0;
  flex: 0 1 80%;
  display: flex;
  justify-content: center;
}
.link-anim {
  opacity: 0;
  animation-name: heroimageanim;
  animation-duration: $linkduration;
  animation-fill-mode: forwards;
}
.la-1 { animation-delay: $slidetime + $linkdelay + $linkduration;}
.la-2 { animation-delay: $slidetime + $linkdelay + $linkduration + $linkdurspace; }
.la-3 { animation-delay: $slidetime + $linkdelay + $linkduration + ($linkdurspace * 2); }
.la-4 { animation-delay: $slidetime + $linkdelay + $linkduration + ($linkdurspace * 3); }
.la-5 { animation-delay: $slidetime + $linkdelay + $linkduration + ($linkdurspace * 4); }
.la-6 { animation-delay: $slidetime + $linkdelay + $linkduration + ($linkdurspace * 5); }
.la-7 { animation-delay: $slidetime + $linkdelay + $linkduration + ($linkdurspace * 6); }

.link-left {
  flex: 1 0 40%;
  text-align: right;
}
.link-divider {
  flex: 1 0 auto;
  text-align: center;
}
.link-right {
  flex: 1 0 40%;
}

.landing-link {
  opacity: 0;
  color: $light_bg;
  font-size: 1.3em;
  margin: auto 3px;
  padding: 0.5em 0.9em;
  background-color: $linkcolor;
}
.landing-link:hover {
  opacity: 100%;
  color: $light_bg;
  text-decoration: none;
  background-color: $linkcolor_hover;
  box-shadow: 1px 1px 5px grey;
}
.landing-link:visited {
  color: $light_bg;
}

.summary-wrap {
  flex: 1 0 80%;
  margin: auto;
}
@include media-query($on-desktop) {
  .summary {
    width: 50%;
    margin: 30px 28%;
  }
}
@include media-query($on-phone) {
  .summary {
    width: 80%;
    margin: 10px auto;
  }
}
.summary {
  opacity: 0;
  animation-name: heroimageanim;
  animation-delay: $slidetime;
  animation-duration: $linkduration;
  animation-fill-mode: forwards;

}
.animate-left {
  overflow-y: hidden;
  animation-name: slideleft;
  animation-duration: $slidetime;
  margin-right: 10px;
  margin-left: 12px;
}
.animate-right {
  overflow-y: hidden;
  animation-name: slideright;
  animation-duration: $slidetime;
  margin-left: 10px;
}

.landing-left {
  flex: 1 0 50%;
  text-align: right;
  overflow-x: hidden;
}
.landing-right {
  flex: 1 0 50%;
  overflow-x: hidden;
}
@include media-query($on-phone) {
  .landing-left, .landing-right {
    text-align: center;
  }
}

.landing-divider {
  flex: 0 0 1%;
  text-align: center;
}
.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.blueIcon {
  color: $linkcolor;
}

span.material-icons > img {
  margin-bottom: 15px;
  margin-left: 3px;
}
span.material-icons.linkedin > img {
  width: 32px;
  margin-bottom: 15px;
  margin-left: 13px;
}

.icon-spacing {
  margin: auto 5px;
}
