---
layout: home_wrap 
---

<div class="above-fold">

  <img src="/assets/headshot_circle_web.png" class="headshot-image"></img>
  <div class="landing-title-style landing-title-layout mobile-column">
    <div class="landing-left">
      <div class="animate-left">
        Chris Gardner
      </div>
    </div>
    <div class="landing-right">
      <div class="animate-right">
        Fullstack Developer
      </div>
    </div>
  </div>
  <div class="summary-wrap">
    <p class="summary">
    Hello! I'm Chris, a web developer and biomedical engineer. 
    Currently open to Fullstack and Frontend or Backend opportunities.
    I'm most comfortable with MEVN/MERN and Rails, but I'm happy to jump into new tech!
    </p>
  </div>
  <div class="landing-link-layout">
      <a href="/about" class="link-anim la-1 landing-link">About</a>
      <a href="/about" class="link-anim la-2 landing-link">Blog</a>
      <a href="/about" class="link-anim la-3 landing-link">Projects</a>
  </div>
</div>
