---
layout: home_wrap 
---

<div class="landing-wrap">

  <img src="/assets/headshot_circle.png" class="hero-image"></img>
  <div class="site-title landing-title">
    <div class="landing-left">
      <div class="animate-left">
        Chris Gardner
      </div>
    </div>
    <span class="animate-divider landing-divider">|</span>
    <div class="landing-right">
      <div class="animate-right">
        Fullstack Developer
      </div>
    </div>
  </div>

  <div class="wrapper landing-link-wrap landing-link-animation">
    <a href="/about" class="landing-left landing-link">About</a>
    <a href="/about" class="landing-divider landing-link">Blog</a>
    <a href="/about" class="landing-right landing-link">Projects</a>
  </div>

</div>
