---
layout: home_wrap 
---

<div class="above-fold">

  <img src="/assets/headshot_circle_web.png" class="headshot-image"></img>
  <div class="landing-title-style landing-title-layout mobile-column">
    <div class="landing-left">
      <div class="animate-left">
        Chris Gardner
      </div>
    </div>
    <div class="landing-right">
      <div class="animate-right">
        Web Developer
      </div>
    </div>
  </div>
  <div class="summary-wrap">
    <p class="summary">
    Hello! I'm Chris, a web developer and biomedical engineer with years of professional field engineering experience. <a href="https://bluefoxfilms.co/secondshooting" target="_blank">I also take pictures!</a>

    I'm fluent in the basics (HTML/CSS/JS) and multiple frameworks (React, VueJS, Rails, NodeJS), and am currently open to frontend, backend, or full-stack opportunities!
    </p>
  </div>
  <div class="landing-link-layout">
      <a href="/about"    class="link-anim la-1 landing-link">About</a>
      <a href="/blog"     class="link-anim la-2 landing-link">Blog</a>
      <a href="/projects" class="link-anim la-3 landing-link">Projects</a>
  </div>
  <div class="landing-link-layout">
    <a href="/assets/Chris_Gardner_Resume.pdf" target="_blank" class="link-anim la-5">
      <span class="material-icons md-32 blueIcon icon-spacing">text_snippet</span>
    </a>
    <a href="https://www.github.com/cgardn" target="_blank" class="link-anim la-6">
      <span class="material-icons md-32">
        <img src="/assets/GitHub-Mark-32px.png" width="26px">
      </span>
    </a>
    <a href="https://www.linkedin.com/in/christopher-a-gardner" target="_blank" class="link-anim la-7">
      <span class="material-icons md-32 linkedin">
        <img src="/assets/LI-In-Bug.png" width="28px">
      </span>
    </a>
  </div>
</div>
